.git/
cache/
outputs/
wandb/
.venv/
__pycache__/
*.egg-info/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
build/
dist/
docs/_build/
.devcontainer/
.github/
.idea/
.vscode/
*.log
.DS_Store
